---
layout: default
title: PC Setup
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Soham Chatterjee</title>
    <link rel="stylesheet" href="../style.css" />
    <script type="text/javascript">
        MathJax = {
            tex: {
                inlineMath: [
                    ['$', '$']
                ],
                displayMath: [
                    ['$$', '$$']
                ],
            }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async="" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">
</head>

<body>

</body>