@mixin styles {
  color-scheme: dark;

  /* Framework color */
  --main-bg: #1a1c1e;
  --mask-bg: #1a1c1e;
  --main-border-color: #292929;

  /* Common color */
  --text-color: #f8f8f2;
  --text-muted-color: #b0b0b0;
  --text-muted-highlight-color: #c0c0c0;
  --heading-color: #ffffff;
  --label-color: #b0b0b0;
  --blockquote-border-color: #2a2a2a;
  --blockquote-text-color: #b0b0b0;
  --link-color: #7fffd4;
  --link-underline-color: #7fffd4;
  --button-bg: #1a1c1e;
  --btn-border-color: #2a2c2e;
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #292929;
  --card-header-bg: #1f1f1f;
  --checkbox-color: #7fffd4;
  --checkbox-checked-color: #7fffd4;
  --img-bg: radial-gradient(circle, #1a1c1e 0%, #2a2c2e 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255,255,255,0) 0%,
    rgba(127,255,212,0.4) 50%,
    rgba(255,255,255,0) 100%
  );

  /* Sidebar */
  --site-title-color: #7fffd4;
  --site-subtitle-color: #b0b0b0;
  --sidebar-bg: #1a1c1e;
  --sidebar-border-color: #292929;
  --sidebar-muted-color: #b0b0b0;
  --sidebar-active-color: #7fffd4;
  --sidebar-hover-bg: #262626;
  --sidebar-btn-bg: #1f1f1f;
  --sidebar-btn-color: #b0b0b0;
  --avatar-border-color: #7fffd4;

  /* Topbar */
  --topbar-bg: rgba(26,28,30,0.9);
  --topbar-text-color: var(--text-color);
  --search-border-color: #2a2a2a;
  --search-icon-color: #7fffd4;
  --input-focus-border-color: #7fffd4;

  /* Home page */
  --post-list-text-color: #f8f8f2;
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #2e2e2e;

  /* Posts */
  --toc-highlight: #7fffd4;
  --toc-popup-border-color: #292929;
  --tag-hover: #2a2c2e;
  --tb-odd-bg: #1e1e1e;
  --tb-even-bg: #232323;
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: #7fffd4;
  --btn-share-color: #7fffd4;
  --btn-share-hover-color: #b0f0e0;
  --card-bg: #1a1c1e;
  --card-hover-bg: #262626;
  --card-shadow: rgba(127,255,212,0.2) 0 4px 10px;
  --kbd-wrap-color: #7fffd4;
  --kbd-text-color: #f8f8f2;
  --kbd-bg-color: #1f1f1f;
  --prompt-text-color: rgba(248,248,242,0.75);
  --prompt-tip-bg: rgba(22,60,36,0.64);
  --prompt-tip-icon-color: #7fffd4;
  --prompt-info-bg: rgba(7,59,104,0.8);
  --prompt-info-icon-color: #7fffd4;
  --prompt-warning-bg: rgba(90,69,3,0.88);
  --prompt-warning-icon-color: #ffb347;
  --prompt-danger-bg: rgba(86,28,8,0.8);
  --prompt-danger-icon-color: #ff5555;

  /* Tags */
  --tag-border: #2a2c2e;
  --tag-shadow: #1f1f1f;
  --dash-color: #2a2c2e;
  --search-tag-bg: #1f1f1f;

  /* Categories */
  --categories-border: rgba(64,66,69,0.5);
  --categories-hover-bg: #262626;
  --categories-icon-hover-color: #7fffd4;

  /* Archive */
  --timeline-node-bg: #7fffd4;
  --timeline-color: #7fffd4;
  --timeline-year-dot-color: var(--timeline-color);

  /* Code highlight colors */
  --language-border-color: #2a2c2e;
  --highlight-bg-color: #151515;
  --highlighter-rouge-color: #7fffd4;
  --highlight-lineno-color: #7fffd4;
  --inline-code-bg: rgba(127,255,212,0.05);
  --code-color: #f8f8f2;
  --code-header-text-color: #7fffd4;
  --code-header-muted-color: #3a3a3a;
  --code-header-icon-color: #7fffd4;
  --clipboard-checked-color: #7fffd4;
  --filepath-text-color: #f8f8f2;
}
