---
layout: default
title: Home
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Soham Chatterjee</title>
    <script type="text/javascript">
        MathJax = {
            tex: {
                inlineMath: [
                    ['$', '$']
                ],
                displayMath: [
                    ['$$', '$$']
                ],
            }
        };
    </script>
    <style>
    .card {margin-bottom: 3rem;
        width: 90%;
        margin: 5%;
        position: relative;
        background-color: #0f1113;
        margin-top: 0px;}
    .card-background {border-radius: 15px;
        position: absolute;
        width: 100%;
        inset: 0;}
    .card-content {position: relative;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -20px;}
    </style>
    <script type="text/javascript" id="MathJax-script" async=""
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&family=Playfair+Display:wght@600&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
    <p>Hi, I am Soham Chatterjee.</p>

    <p>
       I completed my B.Sc. in Mathematics and Computer Science at <a href="https://www.cmi.ac.in/" target="_blank">Chennai Mathematical Institute</a> (2021-2024). I am also an alumnus of <a
            href="https://www.rkmabaranagore.org/" target="_blank">Ramakrishna Mission, Baranagar</a> and Narendranath Vidyamandir where i completed my Secondary (10th Standard) and Higher secondary (12th Standard) education.
    </p>

    <p>Theoretical Computer Science is where my interests lie mostly. I am brodly interested in:
         <ul>
            <li>Algorithms and Complexity Theory with a pinch of algebraic flavour</li>
            <li>Error Correcting Codes</li>
            <li>Pseudorandomness</li>
            <li>Polyhedral Combinatorics</li>
            <li>Property Testing of Boolean Functions</li>
            <li>Quantum Computing and Quantum Information Theory</li>
         </ul></p>

    <p>
        If you're interested, you may see my blog on complexity theory <a href="https://sohamalephnull.blogspot.com/"
            target="_blank">here</a>.
    </p>
    <p>During my Bachelors I have done research internships on topics like Algebraic Complexity Theory, Property Testing of Boolean Functions and their Quantum Algorithms, Polyhedral Combinatorics. You can check my page on <a href="/projects-talks/">Research Internships and Talks</a> for more details and their reports and slides of my presentations. You can also visit my page on <a href="/courses/">Course Work</a> to get all lecture notes of the courses I have taken or been taking.
    <p>
        Besides course work  I love to typeset my notes $\LaTeX$. It is a great hobby of mine to make my documents beautiful in $\LaTeX$. I've been using it for
        more
        than 5 years. I have created a <a href="https://github.com/sohamch08/Eye-Candy-Lecture-Notes-Theme">theme</a> with which i typeset my lecture notes and reports.
        <!-- I've accumulated a tonne of advice and sophisticated recommendations on how to write in the  href=/pages/latex.html">LaTeX Page</a>. There, I also offered my template for lecture notes. Do take a look. -->
    </p>
    <div class="card">
        <div class="card-background"></div>
        <div class="card-content">
            <h2 id="looking-for-something">Looking for something?</h2>
            <ul>
                <li>📝 Read my blog on Complexity Theory at <a href="https://sohamalephnull.blogspot.com/"
                        target="_blank" rel="noopener">Aleph Null Blog</a>.</li>
                <li>📄 Looking for my CV: <a href="/assets/cv.pdf" target="_blank">here</a></li>
                <li>💻 Find my dotfiles and scripts on <a href="https://github.com/lambdasolver/dotfiles"
                        target="_blank" rel="noopener">GitHub</a>.</li>
                <!-- <li>📜 Want to know about some pro LaTeX tips see this <a href="./pages/latex.html">page</a>.</li> -->
                <li>💻 Want to know about the softwares I use for Note Taking and other stuff visit <a href="/configs/">Configs Page</a>
                    <!-- <a    href="./pages/pc-setup.html#softwares">here</a></li> -->
                
                <li>✉ Want to get in touch? Feel free to <a href="{{ "/contact/" | relative_url }}">drop me a message</a>.</li>
            </ul>

        </div>
    </div>


</body>

</html>
