---
layout: default
title: Home
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Soham Chatterjee</title>
    <script type="text/javascript">
        MathJax = {
            tex: {
                inlineMath: [
                    ['$', '$']
                ],
                displayMath: [
                    ['$$', '$$']
                ],
            }
        };
    </script>
    <style>
    .card {margin-bottom: 3rem;
        width: 90%;
        margin: 5%;  
        position: relative;
        background-color: #0f1113;
        margin-top: 0px;}
    .card-background {border-radius: 15px;
        position: absolute;
        width: 100%;
        inset: 0;}
    .card-content {position: relative;
        color: white;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: -20px;}
    </style>
    <script type="text/javascript" id="MathJax-script" async=""
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@500&family=Playfair+Display:wght@600&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
</head>

<body>
    <p>That's me, Soham Chatterjee. My hometown is Kolkata, India.</p>

    <p>
        At <a href="https://www.cmi.ac.in/" target="_blank">Chennai Mathematical Institute</a>, I am a second-year
        undergraduate student studying computer science and mathematics. Likewise a <a
            href="https://www.rkmabaranagore.org/" target="_blank">Ramakrishna Mission, Baranagar</a> alum
    </p>

    <p>
        <a href="https://en.wikipedia.org/wiki/Theoretical_computer_science" target="_blank">Theoretical Computer
            Science</a> is where my interests lie mostly. <a
            href="https://en.wikipedia.org/wiki/Computational_complexity_theory" target="_blank">Complexity Theory</a>,
        namely, is my current area of study in theoretical computer science,more precisely <a
            href="https://en.wikipedia.org/wiki/Arithmetic_circuit_complexity" target="_blank">Algebraic Complexity
            Theory</a>.
    </p>

    <p>
        If you're interested, you may see my blog on complexity theory <a href="https://sohamalephnull.blogspot.com/"
            target="_blank">here</a>.
    </p>

    <p>
        You can visit the separate pages for my 
        <!-- <a href=/pages/music.html">music</a>  -->
        and  tastes if you're interested in learning more about my interests. I'm also a big Linux fan. I use
        <a href="https://linuxmint.com/edition.php?id=307" target="_blank">Linux Mint</a>, a Linux distribution built on the Debian
        platform with <a href="https://i3wm.org/">I3WM</a> window manager. Visit my
         <!-- <a href=/pages/pc-setup.html">PC Setup Page</a>  -->
         to learn more about my Linux setup.
    </p>

    <p>
        For my notes, I also like to use $\LaTeX$. I take pleasure in using $\LaTeX$ to type. I've been using it for
        more
        than 5 years. 
        <!-- I've accumulated a tonne of advice and sophisticated recommendations on how to write in the  href=/pages/latex.html">LaTeX Page</a>. There, I also offered my template for lecture notes. Do take a look. -->
    </p>
    <div class="card">
        <div class="card-background"></div>
        <div class="card-content">
            <h2 id="looking-for-something">Looking for something?</h2>
            <ul>
                <li>📝 Read my blog on Complexity Theory at <a href="https://sohamalephnull.blogspot.com/"
                        target="_blank" rel="noopener">Aleph Null Blog</a>.</li>
                <li>📄 Looking for my CV: <a href="/assets/cv.pdf" target="_blank">here</a></li>
                <li>💻 Find my dotfiles and scripts on <a href="https://github.com/lambdasolver/dotfiles"
                        target="_blank" rel="noopener">GitHub</a>.</li>
                <!-- <li>📜 Want to know about some pro LaTeX tips see this <a href="./pages/latex.html">page</a>.</li> -->
                <li>💻 Want to know about the softwares I use for Note Taking and other stuff visit 
                    <!-- <a    href="./pages/pc-setup.html#softwares">here</a></li> -->
                <li>Wanna see my wallpaper collection, visit <a
                        href="https://drive.google.com/drive/u/2/folders/1Z6jYtRf-z466xfZOUfCG5q7BSNhj-J47"
                        target="_blank">here</a></li>
                <li>✉ Want to get in touch? Feel free to <a href="{{ "/contact/" | relative_url }}">drop me a message</a>.</li>
            </ul>

        </div>
    </div>


</body>

</html>
